[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
flask-bootstrap = "*"
flask-restplus = "*"
flask-swagger-ui = "*"
werkzeug = "===2.0.1"
azure-functions = "*"
azure-cosmos = "*"
pymongo = "===3.12.0"
azure-cli-core = "*"
feedgen = "*"


[dev-packages]

